.head
	{
		background: #000000c4;
	.container
	{
	.row
	{
	.breadcrumb{
		background:  #00000000;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: -13px;
	li 
	{
		color: #9e9e9e;
	a
	{
		color: #9e9e9e;

}
}
}
}
}
}


.navbar-brand{
	.uperr{
		font-size: 2.3em;
		color: #000000b5;
		font-weight: 800;
		margin-left: 2px;
	}

}

nav{
	ul{
	}
	li{
		padding-top: 30px;
	}
	a{
		color: black;
		background: white;
		padding-top: 10px;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		color: #000000b5;
	}

	.rezu{

	#hoverv
	{
		background: white;
	}
}

	.boxe{
		padding: 0 5px;
		border-radius: 70px;
		font-weight: bold;
		color: #fff;
		background: green;
    	cursor: pointer;
    	margin-left: 65px;
    	margin-right: 23px;
	}
	.boxi{
		border: 2px solid black;
		padding: 17px;
		border-radius: 50px;
		margin-right: 30px;
		margin-bottom: 5px;
		margin-left: 25px;
		margin-top: -20px;
		cursor: pointer;
		padding-bottom: 10px;
	}

	i
	{
		align-items: center;
	    font-size: 15px;
	}
}

#expert
	{
		background: #057105a8;
		margin-top: 25px;
		padding-top: 100px;
		padding-bottom: 10px;
	.expe
	{
		margin-left: 560px;
		margin-top: 20px;
	    margin-top: -40px;
    	margin-bottom: 75px;
    }
	h2
	{
		color: #fff;
		font-family: 'Pacifico',cursive;
		cursor: pointer;
		font-size: 3em;

  }
}

#aboute
	{
		padding-top: 5px;
		margin-bottom: -35px;
		margin-left: 85px;
	.breadcrumb
	{
		background: #fff;
	}
	li
	{
		color: #000000c4;
		font-weight: bold;
	}
	a
	{
		color: gray;
		font-weight: bold;
	}
}

.container
	{
	#buttons
	{
		margin-top: 20px;
	}
	.form-group
	{
		padding: 2px;
	}

	.save
	{
		font-weight: 600;
		margin-top: -16px;
		color: #808080d1;
		font-weight: bold;
		margin-left: 25px;
	}
	.checkbox
	{
		margin-bottom: 5px;
		margin-left: 3px;
		background-color: gray;
	}

	.form-control
	{
		background: #eee;
		color: #211e1e;
		padding-top: 25px;
		padding-bottom: 23px;
		border: 1px solid #eee;
		border-radius: 2px;
	&:focus {
	    border-color: none;
	    outline: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
   }

   .btn
   {
   		width: 100%;
   		margin-top: 10px;
   		margin-bottom: 10px;
   		padding: 10px;
   		background: #fff;
   		border: 1px solid #057105a8;
   		border-radius: 2px;
   		font-weight: bold;
   		color: #057105a8;
   		text-transform: uppercase;
   		outline: none;
}
}


#foot
	{

		background: #000000d6;
		margin-top: 120px;
	.container
	{
	#border
	{
		border-bottom: 1px solid gray;
		border-width: 0.1px;
		margin-left: -10px;
}
}

	.core{
		margin-top: 60px;
		color: #fff;
		font-weight: bold;
		margin-left: -25px;

}
	.dole
	{
	margin-right: -250px;
	color: gray;
	margin-top: 5px;
	line-height: 27px;
	margin-left: -25px;
	margin-bottom: 40px;
}
	.extra
	{
		color: white;
		margin-top: 65px;
		margin-left: 1px;
		margin-bottom: 22px;

}
	.ilastic
	{
		margin-left: -13px;
}
	.extr
	{
		color: white;
		margin-top: 65px;
		margin-bottom: 22px;
		margin-left: -20px;
}
	.doler
	{
		color: gray;
		margin-left: -20px;
		cursor: pointer;
	i{
		color: #057105a8;
		margin-right: 5px;
		cursor: pointer;
}
}
	#end
	{
	p{
		color: gray;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: -10px;
		cursor: pointer;
	}
	#side
	{
		margin-right: -10px;
	#icons{
		background: white;
		padding: 10px;
		border-radius: 50px;
		margin-top: 15px;
		margin-bottom: 15px;
		cursor: pointer;
		color: #057105a8;
	}
	#icon{
		background: white;
		padding: 10px 13px;
		border-radius: 50px;
		margin-top: 15px;
		margin-bottom: 15px;
		cursor: pointer;
		color: #057105a8;
		margin-right: 10px;
	}
	#icone{
		background: white;
		padding: 10px 8px;
		border-radius: 50px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: -10px;
		cursor: pointer;
		color: #057105a8;
	}
}
}
}

// End Section


nav{

	#navbar
	{
		margin-left: 317px;

	}
	#hovere
	{
	   margin-top: -37px;
	   background: white;
}
}

.ecofood
	{
	.container
	{
	.row
	{
	.search
	{
		margin-left: 40px;
	    margin-top: 32px;
	    color: gray;
	    cursor: pointer;
	    margin-bottom: -70px;
	.searchterm{
		margin-right: -3px;
		border: 1px solid #eee;
		padding: 5px;
		color: gray;
		outline: none;
}
	.searchbtn{
		padding: 4px 7px;
		outline: none;
		border: 2px solid #eee;
}
	 span{
	 	margin-left: 10px;
	 	color: gray;
	 	cursor: pointer;
	}
}
	h2{
		margin-left: 115px;
		font-size: 2.3em;
	    color: #000000b5;
	    font-weight: 800;
	    margin-top: 27.5px;
	    margin-bottom: 5px;
	}
	.dolre
	{
		margin-left: 230px;
	    margin-top: 38px;
	    margin-bottom: 1px;
	    color: gray;
	    cursor: pointer;
	 span{
	 	margin-left: 10px;
	 	color: gray;
	 	cursor: pointer;
	}

	}
}
}
}


.banner
	{
		background: url('../img.jpg');
		background-size: cover;
		margin-top: -40px;
		padding: 150px 100px;
	.textBx
	{
		margin-left: 390px;
		margin-top: -35px;
	h2{
		font-weight: bold;
		color: #fff;
		letter-spacing: 1.5px;
	}
	p{
		color: #fff;
		margin-left: 18px;
		font-family: system-ui;
	.btnone
	{
		padding: 5px 10px;
		background: gray;
		border: 1px solid #fff;
		border-radius: 4px;
		margin-left: 80px;
		outline: none;
}
	.btntwo
	{
		padding: 4px 10px;
		background: #057105a8;
		border: 1px solid #057105a8;
		border-radius: 4px;
		margin-left: 5px;
		outline: none;
}
	}
}
}

.container-fluide
	{
	#frame
	{
		background: url(../five.jpg);
		border-top: 7px solid #fff;
		padding: 60px;
		padding-bottom: 92px;
	h3{
		margin-left: 270px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
}
	p{
		margin-left: 290px;
		font-family: system-ui;
		color: #fff;
}
	.btnr
	{
		padding: 3px 10px;
		margin-left: 310px;
		margin-top: 10px;
		border: 1px solid #000;
		font-weight: bold;
		border-radius: 4px;
		outline: none;
}

	}
	#fram
	{
		background: url(../six.jpg);
		border-top: 7px solid #fff;
		border-left: 7px solid #fff;
		padding: 60px;
		padding-bottom: 90px;
		margin-bottom: 40px;
	h3{
		margin-left: 80px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
}
	
	p{
		margin-left: 105px;
		font-family: system-ui;
		color: #fff;
}
	.btne
	{
		padding: 4px 10px;
		margin-left: 140px;
		margin-top: 10px;
		font-weight: bold;
		background: #057105a8;
		border-radius: 4px;
		border: 1px solid #057105a8;
		color: #fff;
		outline: none;
}

	}
}

.container
	{
	h2{
		margin-left: 460px;
		font-weight: bold;
		text-transform: uppercase;

}
	.span{
		margin-left: 560px;
		font-size: -webkit-xxx-large;
		margin-top: -10px;
		cursor: pointer;
}
	.row{
	#first
	{
	.image
	{ 
		background: url(../ne.jpg);
		height: 260px;
		width: 275px;
		margin-top: 16px;

	.circle{
		border: 1px solid #da1414;
		padding: 10px;
		margin-left: 246px;
		border-radius: 50px;
		background: #da1414;
		color: #fff;
		margin-bottom: 20px;
		margin-top: 15px;
	    margin-right: -14px;
	    cursor: pointer;
	    padding-right: 8px;
	     display: initial;
}
	}

	.imager
	{
		background: url(../ne.jpg);
		height: 260px;
		width: 275px;
		margin-top: 16px;
	.circely
	{
	 	border: 1px solid darkgreen;
		padding: 12px;
		margin-left: 242px;
		border-radius: 50px;
		background: darkgreen;
		color: #fff;
		margin-bottom: 20px;
		margin-top: 25px;
	    margin-right: -14px;
	    cursor: pointer;
	    padding-right: 8px;
	    padding-bottom: 12px;
	    display: initial;
}
	.circel{
		border: 1px solid orange;
		padding: 12px 12px 16px 12px;
		margin-left: 238px;
		border-radius: 50px;
		background: orange;
		color: #fff;
		margin-bottom: 20px;
		margin-top: 15px;
	    margin-right: -14px;
	    cursor: pointer;
	    padding-right: 8px;
	    padding-bottom: 12px;
	    display: initial;
}
}
	h4{
		margin-left: 75px;
		margin-top: 10px;
		font-weight: bold;
}
	p{
		margin-left: 110px;
		color: #057105a8;
}
	
	.boxe
	{
		border: 1px solid red;
		padding: 10px;
		margin-left: 220px;
		border-radius: 50px;
		background: red;
		color: #fff;
}
	.imag
	{
		width: 275px;
		height: 260px;
		margin-top: 15px;
}
}
}
}

.jumbo{
		background: url(../abbas.jpg);
		background-size: cover;
		padding: 180px;
		margin-top: 30px;
		margin-bottom: 20px;

	h3{
		font-family: 'Pacifico',cursive;
		font-size: 3em;
		margin-top: -40px;
		font-weight: bolder;
		color: #057105a8;
		margin-left: 370px;
}
	.right
	{
		color: #057105a8;
		font-weight: bold;
		margin-left: 240px;
		margin-top: 20px;
	i{
		border: 1px solid #057105a8;
		padding: 10px;
		font-size: 2em;
		border-radius: 50px;
		background: #057105a8;
		color: #fff;
		margin-left: 5px;
		cursor: pointer;

	}

}
	.left{
		color: #057105a8;
		font-weight: bold;
		margin-left: 620px;
		margin-top: 25px;
	i{
		border: 1px solid #057105a8;
		padding: 10px;
		font-size: 2em;
		border-radius: 50px;
		background: #057105a8;
		color: #fff;
		margin-right: 5px;
		cursor: pointer;
		

	}
}
}


.box{
		padding: 135px 20px 100px 20px;
		background: url(../cat.jpg);
		background-size: cover;
		width: 33%;
		margin-left: 460px;
	    margin-top: -150px;
	    margin-bottom: 40px;
	.price{
		margin-left: 105px;
		margin-top: -90px;
		font-weight: bold;
		font-size: 30px;
		color: #fff;
}
	.readmore
	{
		margin-left: 145px;
	    padding: 5px 10px;
	    margin-top: 15px;
	    background: darkgreen;
	    outline: none;
	    border: 1px solid darkgreen;
	    color: #fff;
}
}



.container{
	.chooes
	{
		margin-left: 455px;
}
	.row{
	.heed{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 10px;
	}
	.bene
	{
		text-align: center;
		padding-bottom: 40px;
	}
}
}

.form{
	margin-left: 485px;
	font-weight: bold;
}


#experts{
	#carousel{
	.boxr{
		border: 1px solid #eee;
		box-shadow: 4px 2px 4px 2px rgba(4,4,4,0.05);
		margin-top: 20px;
		display: block;
		cursor: pointer;
	i{
		font-size: 2em;
		color: #057105a8;
		margin-top: 10px;
		margin-left: 10px;
	}
	p{
		text-align: center;
		margin: 0 10px;
	}
	#manone{
		width: 70px;
		margin-left: 145px;
    	margin-top: 50px;
	}
	.man{
		margin-left: 140px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    font-weight: 600;
	    color: #057105a8;
	}
	&:hover{
		background: #057105a8;
		color: #fff;
		cursor: pointer;
	}
  }
 }
}

.carousele{

	.carousel-control.left {
	     background-image: none; 
	    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	     background-image: none; 
	     background-image: none; 
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	     background-repeat: repeat-x; 
   #leftarrow{
   		margin-left: -60px;
   		border: 1px solid gray;
   		font-size: 1em;
   		padding-top: 3px;
   		border-radius: 50px;
   		background: gray;
   		color: black;
   		margin-top: -238px;
}

	}
	.carousel-control.right {
	     background-image: none; 
	    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	     background-image: none; 
	     background-image: none; 
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	     background-repeat: repeat-x; 
	 #rightarrow{
   		margin-right: -60px;
   		border: 1px solid gray;
   		font-size: 1em;
   		padding-top: 3px;
   		border-radius: 50px;
   		background: gray;
   		color: black;
   		margin-top: -238px;
}
	     
	}
}

#endpage{
		background: #000000d6;
		margin-top: 120px;
	#lastcontain{

	#end{
	p{
		color: #ffffffb8;
		margin-bottom: 20px;
	}
	#side{
	#icon{
		background: white;
	    padding: 10px 13px;
	    border-radius: 50px;
	    margin-bottom: 15px;
	    cursor: pointer;
	    color: #057105a8;
	    margin-right: 10px;
	 }
	 #icone{
		background: white;
	    padding: 10px 8px;
	    border-radius: 50px;
	    margin-bottom: 15px;
	    margin-left: -10px;
	    cursor: pointer;
	    color: #057105a8;
	 }
	 #icons{
	    background: white;
	    padding: 10px;
	    border-radius: 50px;
	    margin-bottom: 15px;
	    cursor: pointer;
	    color: #057105a8;
	 }
	}
  }

	.row{
	.esco{
		font-weight: 600;
		margin-top: 80px;
		color: #ffffffb8;
		margin-bottom: 25px;
	}
	.dol{
		color: #ffffffb8;
		cursor: pointer;
	i{
		color: #057105a8;
		margin-right: 5px;
	}
	}
	.club{
	i{
		color: #ffffffb8;
		font-size: 2.5em;
		margin-left: 20px;
		margin-top: 10px;

	}
 }
 	a{
	i{
		color: #ffffffb8;
		font-size: 2.5em;
		margin-left: 20px;

	}
 }
}
}
}

// Second End


#center{
		background: #eee;
		margin-top: -20px;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 50px;
	.container
	{
	.row{
	#sixer{
		width: 540px;
		margin-top: 5px;
		height: 360px;
}
}
}
}

.jumboa
	{
		background: #000000c8;
	h3{
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		margin-top: 80px;
		padding-top: 110px;
    	margin-left: 545px;
	}
	p{
		color: #fff;
		text-align: center;
		margin-left: 340px;
		margin-right: 320px;
	i{
		font-size: 2em;
		margin-right: 10px;
		margin-top: 20px;
	}
	}
	img{
		margin-left: 625px;
		margin-top: 20px;
		height: 110px; 
		width: 100px;
		cursor: pointer;
	}
	h6{
		color: #fff;
		text-transform: uppercase;
		margin-left: 635px;
		font-weight: bold;
		margin-top: 20px;
		padding-bottom: 150px;
		cursor: pointer;
}

}

.boxw{
		padding: 50px 120px;
		margin: 0 330px;
		background: #fff;
		margin-top: -100px;
		margin-bottom: -10px;
	.pricez{
		margin-left: 55px;
		font-weight: bold;
	}
	p{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 30px;
}
}

.searcher{
	.searchterm{
		padding: 9px 90px 9px 20px;
		border-radius: 40px 0 0 40px;
		outline: none;
		border: 1px solid #eee;
		background: #eee;
		margin-left: 40px;
		margin-right: -4px;
		font-weight: bold;
	}
	.searchbtn{
		padding: 9px 30px 9px 25px;
		border-radius: 0 40px 40px 0;
		border: 1px solid #eee;
		background: #057105a8;
		outline: none;
	i{
		font-size: 1.2em;
		color: #fff;
}

	}
}