.head {
  background: #000000c4; }
  .head .container .row .breadcrumb {
    background: #00000000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -13px; }
    .head .container .row .breadcrumb li {
      color: #9e9e9e; }
      .head .container .row .breadcrumb li a {
        color: #9e9e9e; }

.navbar-brand .uperr {
  font-size: 2.3em;
  color: #000000b5;
  font-weight: 800;
  margin-left: 2px; }

nav li {
  padding-top: 30px; }
nav a {
  color: black;
  background: white;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #000000b5; }
nav .rezu #hoverv {
  background: white; }
nav .boxe {
  padding: 0 5px;
  border-radius: 70px;
  font-weight: bold;
  color: #fff;
  background: green;
  cursor: pointer;
  margin-left: 65px;
  margin-right: 23px; }
nav .boxi {
  border: 2px solid black;
  padding: 17px;
  border-radius: 50px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-top: -20px;
  cursor: pointer;
  padding-bottom: 10px; }
nav i {
  align-items: center;
  font-size: 15px; }

#expert {
  background: #057105a8;
  margin-top: 25px;
  padding-top: 100px;
  padding-bottom: 10px; }
  #expert .expe {
    margin-left: 560px;
    margin-top: 20px;
    margin-top: -40px;
    margin-bottom: 75px; }
  #expert h2 {
    color: #fff;
    font-family: 'Pacifico',cursive;
    cursor: pointer;
    font-size: 3em; }

#aboute {
  padding-top: 5px;
  margin-bottom: -35px;
  margin-left: 85px; }
  #aboute .breadcrumb {
    background: #fff; }
  #aboute li {
    color: #000000c4;
    font-weight: bold; }
  #aboute a {
    color: gray;
    font-weight: bold; }

.container #buttons {
  margin-top: 20px; }
.container .form-group {
  padding: 2px; }
.container .save {
  font-weight: 600;
  margin-top: -16px;
  color: #808080d1;
  font-weight: bold;
  margin-left: 25px; }
.container .checkbox {
  margin-bottom: 5px;
  margin-left: 3px;
  background-color: gray; }
.container .form-control {
  background: #eee;
  color: #211e1e;
  padding-top: 25px;
  padding-bottom: 23px;
  border: 1px solid #eee;
  border-radius: 2px; }
  .container .form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
.container .btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #057105a8;
  border-radius: 2px;
  font-weight: bold;
  color: #057105a8;
  text-transform: uppercase;
  outline: none; }

#foot {
  background: #000000d6;
  margin-top: 120px; }
  #foot .container #border {
    border-bottom: 1px solid gray;
    border-width: 0.1px;
    margin-left: -10px; }
  #foot .core {
    margin-top: 60px;
    color: #fff;
    font-weight: bold;
    margin-left: -25px; }
  #foot .dole {
    margin-right: -250px;
    color: gray;
    margin-top: 5px;
    line-height: 27px;
    margin-left: -25px;
    margin-bottom: 40px; }
  #foot .extra {
    color: white;
    margin-top: 65px;
    margin-left: 1px;
    margin-bottom: 22px; }
  #foot .ilastic {
    margin-left: -13px; }
  #foot .extr {
    color: white;
    margin-top: 65px;
    margin-bottom: 22px;
    margin-left: -20px; }
  #foot .doler {
    color: gray;
    margin-left: -20px;
    cursor: pointer; }
    #foot .doler i {
      color: #057105a8;
      margin-right: 5px;
      cursor: pointer; }
  #foot #end p {
    color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
    cursor: pointer; }
  #foot #end #side {
    margin-right: -10px; }
    #foot #end #side #icons {
      background: white;
      padding: 10px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      cursor: pointer;
      color: #057105a8; }
    #foot #end #side #icon {
      background: white;
      padding: 10px 13px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      cursor: pointer;
      color: #057105a8;
      margin-right: 10px; }
    #foot #end #side #icone {
      background: white;
      padding: 10px 8px;
      border-radius: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: -10px;
      cursor: pointer;
      color: #057105a8; }

nav #navbar {
  margin-left: 317px; }
nav #hovere {
  margin-top: -37px;
  background: white; }

.ecofood .container .row .search {
  margin-left: 40px;
  margin-top: 32px;
  color: gray;
  cursor: pointer;
  margin-bottom: -70px; }
  .ecofood .container .row .search .searchterm {
    margin-right: -3px;
    border: 1px solid #eee;
    padding: 5px;
    color: gray;
    outline: none; }
  .ecofood .container .row .search .searchbtn {
    padding: 4px 7px;
    outline: none;
    border: 2px solid #eee; }
  .ecofood .container .row .search span {
    margin-left: 10px;
    color: gray;
    cursor: pointer; }
.ecofood .container .row h2 {
  margin-left: 115px;
  font-size: 2.3em;
  color: #000000b5;
  font-weight: 800;
  margin-top: 27.5px;
  margin-bottom: 5px; }
.ecofood .container .row .dolre {
  margin-left: 230px;
  margin-top: 38px;
  margin-bottom: 1px;
  color: gray;
  cursor: pointer; }
  .ecofood .container .row .dolre span {
    margin-left: 10px;
    color: gray;
    cursor: pointer; }

.banner {
  background: url("../img.jpg");
  background-size: cover;
  margin-top: -40px;
  padding: 150px 100px; }
  .banner .textBx {
    margin-left: 390px;
    margin-top: -35px; }
    .banner .textBx h2 {
      font-weight: bold;
      color: #fff;
      letter-spacing: 1.5px; }
    .banner .textBx p {
      color: #fff;
      margin-left: 18px;
      font-family: system-ui; }
      .banner .textBx p .btnone {
        padding: 5px 10px;
        background: gray;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-left: 80px;
        outline: none; }
      .banner .textBx p .btntwo {
        padding: 4px 10px;
        background: #057105a8;
        border: 1px solid #057105a8;
        border-radius: 4px;
        margin-left: 5px;
        outline: none; }

.container-fluide #frame {
  background: url(../five.jpg);
  border-top: 7px solid #fff;
  padding: 60px;
  padding-bottom: 92px; }
  .container-fluide #frame h3 {
    margin-left: 270px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; }
  .container-fluide #frame p {
    margin-left: 290px;
    font-family: system-ui;
    color: #fff; }
  .container-fluide #frame .btnr {
    padding: 3px 10px;
    margin-left: 310px;
    margin-top: 10px;
    border: 1px solid #000;
    font-weight: bold;
    border-radius: 4px;
    outline: none; }
.container-fluide #fram {
  background: url(../six.jpg);
  border-top: 7px solid #fff;
  border-left: 7px solid #fff;
  padding: 60px;
  padding-bottom: 90px;
  margin-bottom: 40px; }
  .container-fluide #fram h3 {
    margin-left: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; }
  .container-fluide #fram p {
    margin-left: 105px;
    font-family: system-ui;
    color: #fff; }
  .container-fluide #fram .btne {
    padding: 4px 10px;
    margin-left: 140px;
    margin-top: 10px;
    font-weight: bold;
    background: #057105a8;
    border-radius: 4px;
    border: 1px solid #057105a8;
    color: #fff;
    outline: none; }

.container h2 {
  margin-left: 460px;
  font-weight: bold;
  text-transform: uppercase; }
.container .span {
  margin-left: 560px;
  font-size: -webkit-xxx-large;
  margin-top: -10px;
  cursor: pointer; }
.container .row #first .image {
  background: url(../ne.jpg);
  height: 260px;
  width: 275px;
  margin-top: 16px; }
  .container .row #first .image .circle {
    border: 1px solid #da1414;
    padding: 10px;
    margin-left: 246px;
    border-radius: 50px;
    background: #da1414;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-right: -14px;
    cursor: pointer;
    padding-right: 8px;
    display: initial; }
.container .row #first .imager {
  background: url(../ne.jpg);
  height: 260px;
  width: 275px;
  margin-top: 16px; }
  .container .row #first .imager .circely {
    border: 1px solid darkgreen;
    padding: 12px;
    margin-left: 242px;
    border-radius: 50px;
    background: darkgreen;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: -14px;
    cursor: pointer;
    padding-right: 8px;
    padding-bottom: 12px;
    display: initial; }
  .container .row #first .imager .circel {
    border: 1px solid orange;
    padding: 12px 12px 16px 12px;
    margin-left: 238px;
    border-radius: 50px;
    background: orange;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-right: -14px;
    cursor: pointer;
    padding-right: 8px;
    padding-bottom: 12px;
    display: initial; }
.container .row #first h4 {
  margin-left: 75px;
  margin-top: 10px;
  font-weight: bold; }
.container .row #first p {
  margin-left: 110px;
  color: #057105a8; }
.container .row #first .boxe {
  border: 1px solid red;
  padding: 10px;
  margin-left: 220px;
  border-radius: 50px;
  background: red;
  color: #fff; }
.container .row #first .imag {
  width: 275px;
  height: 260px;
  margin-top: 15px; }

.jumbo {
  background: url(../abbas.jpg);
  background-size: cover;
  padding: 180px;
  margin-top: 30px;
  margin-bottom: 20px; }
  .jumbo h3 {
    font-family: 'Pacifico',cursive;
    font-size: 3em;
    margin-top: -40px;
    font-weight: bolder;
    color: #057105a8;
    margin-left: 370px; }
  .jumbo .right {
    color: #057105a8;
    font-weight: bold;
    margin-left: 240px;
    margin-top: 20px; }
    .jumbo .right i {
      border: 1px solid #057105a8;
      padding: 10px;
      font-size: 2em;
      border-radius: 50px;
      background: #057105a8;
      color: #fff;
      margin-left: 5px;
      cursor: pointer; }
  .jumbo .left {
    color: #057105a8;
    font-weight: bold;
    margin-left: 620px;
    margin-top: 25px; }
    .jumbo .left i {
      border: 1px solid #057105a8;
      padding: 10px;
      font-size: 2em;
      border-radius: 50px;
      background: #057105a8;
      color: #fff;
      margin-right: 5px;
      cursor: pointer; }

.box {
  padding: 135px 20px 100px 20px;
  background: url(../cat.jpg);
  background-size: cover;
  width: 33%;
  margin-left: 460px;
  margin-top: -150px;
  margin-bottom: 40px; }
  .box .price {
    margin-left: 105px;
    margin-top: -90px;
    font-weight: bold;
    font-size: 30px;
    color: #fff; }
  .box .readmore {
    margin-left: 145px;
    padding: 5px 10px;
    margin-top: 15px;
    background: darkgreen;
    outline: none;
    border: 1px solid darkgreen;
    color: #fff; }

.container .chooes {
  margin-left: 455px; }
.container .row .heed {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; }
.container .row .bene {
  text-align: center;
  padding-bottom: 40px; }

.form {
  margin-left: 485px;
  font-weight: bold; }

#experts #carousel .boxr {
  border: 1px solid #eee;
  box-shadow: 4px 2px 4px 2px rgba(4, 4, 4, 0.05);
  margin-top: 20px;
  display: block;
  cursor: pointer; }
  #experts #carousel .boxr i {
    font-size: 2em;
    color: #057105a8;
    margin-top: 10px;
    margin-left: 10px; }
  #experts #carousel .boxr p {
    text-align: center;
    margin: 0 10px; }
  #experts #carousel .boxr #manone {
    width: 70px;
    margin-left: 145px;
    margin-top: 50px; }
  #experts #carousel .boxr .man {
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #057105a8; }
  #experts #carousel .boxr:hover {
    background: #057105a8;
    color: #fff;
    cursor: pointer; }

.carousele .carousel-control.left {
  background-image: none;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x; }
  .carousele .carousel-control.left #leftarrow {
    margin-left: -60px;
    border: 1px solid gray;
    font-size: 1em;
    padding-top: 3px;
    border-radius: 50px;
    background: gray;
    color: black;
    margin-top: -238px; }
.carousele .carousel-control.right {
  background-image: none;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x; }
  .carousele .carousel-control.right #rightarrow {
    margin-right: -60px;
    border: 1px solid gray;
    font-size: 1em;
    padding-top: 3px;
    border-radius: 50px;
    background: gray;
    color: black;
    margin-top: -238px; }

#endpage {
  background: #000000d6;
  margin-top: 120px; }
  #endpage #lastcontain #end p {
    color: #ffffffb8;
    margin-bottom: 20px; }
  #endpage #lastcontain #end #side #icon {
    background: white;
    padding: 10px 13px;
    border-radius: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #057105a8;
    margin-right: 10px; }
  #endpage #lastcontain #end #side #icone {
    background: white;
    padding: 10px 8px;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-left: -10px;
    cursor: pointer;
    color: #057105a8; }
  #endpage #lastcontain #end #side #icons {
    background: white;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #057105a8; }
  #endpage #lastcontain .row .esco {
    font-weight: 600;
    margin-top: 80px;
    color: #ffffffb8;
    margin-bottom: 25px; }
  #endpage #lastcontain .row .dol {
    color: #ffffffb8;
    cursor: pointer; }
    #endpage #lastcontain .row .dol i {
      color: #057105a8;
      margin-right: 5px; }
  #endpage #lastcontain .row .club i {
    color: #ffffffb8;
    font-size: 2.5em;
    margin-left: 20px;
    margin-top: 10px; }
  #endpage #lastcontain .row a i {
    color: #ffffffb8;
    font-size: 2.5em;
    margin-left: 20px; }

#center {
  background: #eee;
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px; }
  #center .container .row #sixer {
    width: 540px;
    margin-top: 5px;
    height: 360px; }

.jumboa {
  background: #000000c8; }
  .jumboa h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-top: 80px;
    padding-top: 110px;
    margin-left: 545px; }
  .jumboa p {
    color: #fff;
    text-align: center;
    margin-left: 340px;
    margin-right: 320px; }
    .jumboa p i {
      font-size: 2em;
      margin-right: 10px;
      margin-top: 20px; }
  .jumboa img {
    margin-left: 625px;
    margin-top: 20px;
    height: 110px;
    width: 100px;
    cursor: pointer; }
  .jumboa h6 {
    color: #fff;
    text-transform: uppercase;
    margin-left: 635px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 150px;
    cursor: pointer; }

.boxw {
  padding: 50px 120px;
  margin: 0 330px;
  background: #fff;
  margin-top: -100px;
  margin-bottom: -10px; }
  .boxw .pricez {
    margin-left: 55px;
    font-weight: bold; }
  .boxw p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px; }

.searcher .searchterm {
  padding: 9px 90px 9px 20px;
  border-radius: 40px 0 0 40px;
  outline: none;
  border: 1px solid #eee;
  background: #eee;
  margin-left: 40px;
  margin-right: -4px;
  font-weight: bold; }
.searcher .searchbtn {
  padding: 9px 30px 9px 25px;
  border-radius: 0 40px 40px 0;
  border: 1px solid #eee;
  background: #057105a8;
  outline: none; }
  .searcher .searchbtn i {
    font-size: 1.2em;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
